$primary: #c50132
$info: #ED213A

$leftgradient: #ED213A
$midgradient: #ED213A
$rightgradient: #c50132
$bannertext: #FFF8F0

$red-gradient-start: #ff4b2b;
$red-gradient-end: #ff416c;
$yellow-gradient-start: #f7b733;
$yellow-gradient-end: #fc4a1a;
$green-gradient-start: #11998e;
$green-gradient-end: #38ef7d;
$box-shadow-color-red: rgba(255, 65, 108, 0.4);
$box-shadow-color-yellow: rgba(252, 74, 26, 0.4);
$box-shadow-color-green: rgba(56, 239, 125, 0.4);
$focus-box-shadow-color: rgba(0, 123, 255, 0.5);







