<section id="banner">
    <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 bannerimage"> <img class="img-fluid" src="/img/learnwelsh.png" alt="Learn Welsh"/></div>
                <div class="col-sm-4"></div>
            </div>
        <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-12 bannerimage">
                <h2 class="home-subtitle">{{ site.data.settings.blurb}}</h2>
            </div>
            <div class="col-sm-4"></div>
           <!--  <div class="col-sm-12 bannerimage">
                <style>
                .bmc-button img{height: 34px !important;width: 27px !important;margin-bottom: 25px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}
                .bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px $primary !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px $primary !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/tweetsinwelsh"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"></a>
            </div>
            <div class="col-sm-12 bannerimage">
                <a href="https://twitter.com/tweetsinwelsh?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @tweetsinwelsh</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> -->
        </div>
    </div>
    </div>
    </section>
    


    