<section id="banner">
    <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 bannerimage"> <img class="img-fluid" src={{ site.data.settings.bannerimage }} alt={{ site.data.settings.bannerimagealt }} ></div>
                <div class="col-sm-4"></div>
            </div>
        <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-12 bannerimage">
                <h2 class="home-subtitle">{{ site.data.settings.blurb}}</h2>
            </div>
            <div class="col-sm-4"></div>
          
        
        </div>
    </div>
    </div>
    </section>
    


