<section id="banner">
    <div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 bannerimage">
                <img class="img-fluid" src="/img/bannerlogo.png"/>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-12 bannerimage">
                <h3 class="home-subtitle">{{ site.data.settings.blurb}}</h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    </div>
    </section>
    

