<section id="blogposts">
  <div class="container">
      {% for post in site.blog %}
    <div class="row blog-post-entry">
      <div class="col-sm-2 blog-post-date">

        <p>
          <span class="blog-day">{{ post.date | | date_to_long_string | date: "%d" }}</span>
          <br class="post-divider">
          <span class="blog-month-year">{{ post.date | date: "%b %Y" }}</span>
        </p>
       
      <div class="col-sm-10 blog-post-entry-details">
        <h4><a href="{{ post.url | prepend: site.baseurl }}" class ="fullpost-title">{{ post.title }}</a></h4>
          <p>
            {% if post.summary %}
              {{ post.summary }}
              {% else %}
              {{ post.excerpt }}
            {% endif %}
            </p>
            <p>{{ post.categories }}</p>
      </div>
    <div class="col-sm-12 post-divider">
    </div>
  </div>
{% endfor %}
      </div>
      
    </div>
</section>