<!-- NAV -->
<body>

            <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center nav-padding py-0 px-0">

            <!-- <a href="{{ site.baseurl }}/"  alt="Logo link to return you to home page" class="d-flex mr-auto logo"><img src="https://robertdpowell.github.io/rp_blog//img/logo.png" alt="Blog Logo" class="logo"><span hidden>Rob Powell</span></a> -->

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/" class="nav-link">TODAY'S TWEET</a>
        </li>
       
       
          <li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">ABOUT</a>
        </li>
          
      </ul>
    </div>
  </div>
</nav>

