<section id="posts">
   <div class="container">
      {% for post in site.posts %}
      <div class="row post-entry">
      <div class="col-sm-12">

        <p class="post-date">
          <span class="day">{{ post.date | | date_to_long_string | date: "%d" }}</span>
          <br class="post-divider">
          <span class="month-year">{{ post.date | date: "%b %Y" }}</span>
        </p>

      </div>
    </div>
   
      <div class="row post-entry">
      <div class="col-sm-6">
        <div class="tweet-section"> 
          <p>{{ post.tweet }}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="translation-section"> 
          <div id="translation-block-one">
            <h6 class="translation-sub-header-first translation-copy">FIRST ATTEMPT</h6>
            <p class="translation-copy">{{post.firstattempt}}</p>
         </div>
         <div id="translation-block-two">
          <h6 class="translation-sub-header-correct translation-copy">CORRECT TRANSLATION</h6>
          <p class="translation translation-copy">{{post.correcttranslation}}</p>
         </div>
         <div id="translation-block-three">
          <h6 class="translation-sub-header-learned translation-copy">VOCAB</h6>
          <p class="translation translation-copy">{{post.content}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 post-divider"></div>
  </div>
{% endfor %}
      </div>
</section>
