<section id="posts">
   <div class="container">
      {% for post in paginator.posts %}
      <div class="row post-entry">
      <div class="col-sm-12">

        <p class="post-date">
          <span class="day">{{ post.date | | date_to_long_string | date: "%d" }}</span>
          <br class="post-divider">
          <span class="month-year">{{ post.date | date: "%b %Y" }}</span>
        </p>

      </div>
    </div>
   
      <div class="row post-entry">
      <div class="col-sm-6">
        <div class="tweet-section"> 
          <p>{{ post.tweet }}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="translation-section"> 
          <div id="translation-block-one">
            <h6 class="translation-sub-header-first translation-copy">MY FIRST ATTEMPT</h6>
            <p class="translation-copy">{{post.firstattempt}}</p>
         </div>
         <div id="translation-block-two">
          <h6 class="translation-sub-header-correct translation-copy">CORRECT TRANSLATION</h6>
          <p class="translation translation-copy">{{post.correcttranslation}}</p>
         </div>
         <div id="translation-block-three">
          <h6 class="translation-sub-header-learned translation-copy">VOCAB</h6>
          <p class="translation translation-copy">{{post.content}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 post-divider"></div>
  </div>
{% endfor %}


{% if paginator.total_pages > 1 %}

<div class="row paginate-belt">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 d-flex justify-content-center">
    <div class= "pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; </a>
  {% else %}
    <span></span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a class= "currentpage">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}"> &raquo;</a>
  {% else %}
    <span></span>
  {% endif %}
</div>
{% endif %}
</div>
<div class="col-sm-4"></div>
      </div>
      </div>
      </div>
</section>
