.social-links
  a
    text-decoration: none
    padding-right: 10px
    color: $primary

    &:hover
      color: $info 

.footer-text
  color: $primary
  font-family: 'Nunito', sans-serif
  font-weight: 400
  text-align: center
  padding: 10px 0