.logo
  height: 80px
  width: 80px

.navbar
  box-shadow: 1px 1px 3px $primary
  opacity: 0.6
  background: $white

.nav-item
  font-size: 1.1rem
  padding-right: 15px
  text-align: center
  
.navbar-light .navbar-nav .nav-link
  color: $primary
  &:hover
      color: $info 
