.paginate-belt
  text-align: center
  padding: 10px 0

  .pagination
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    span
      font-size: 1rem

.paginator-separator
  font-weight: bold
  color: $primary

.btn-custom
  background-color: $primary // Define your primary color variable
  color: #fff
  padding: 10px 15px
  border: none
  border-radius: 4px
  text-decoration: none
  display: inline-block
  font-weight: bold

  &:hover
    background-color: darken($primary, 10%) // Darken the primary color on hover

  &.disabled
    background-color: #ccc
    pointer-events: none

